{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container">
  <!-- TODO: fix the responsive design here -->
  <div class="columns">
    <div class="column col-2"></div>
    <div class="column col-8">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/profile">Profile</a>
        </li>
        <li class="breadcrumb-item">
            <a href="">Edit details</a>
          </li>
      </ul>
      <h1>Edit details</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="toast toast-error">
            {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="columns">
  <div class="column col-2"></div>
      <div class="column col-4">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title text-bold">Edit username/email</div>
        </div>
      <form method='POST' action='/edit_profile'>
        <div class="panel-body">
        <div class="form-group">
          <label class="form-label" for="uname">Username</label>
          <input class="form-input" type="text" id="uname" name="uname" placeholder="..." value='{{uname}}'>
        </div>
    
        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <input class="form-input" type="email" name="email" id="email" placeholder="..." value='{{email}}'>
        </div>
        </div>
        
        <div class="panel-footer">
        <button class='btn'>Change details</button>
        </div>
    </form>
    </div>
    </div>

    <div class='column col-4'>
    <div class="panel">
        <div class="panel-header">
          <div class="panel-title text-bold">Change password</div>
        </div>
      <form method='POST' action='/change_password'>
        <div class="panel-body">
        <div class="form-group">
          <label class="form-label" for="old_password">Enter old password</label>
          <input class="form-input" type="password" id="old_password" name="old_password" placeholder="...">
        </div>
    
        <div class="form-group">
            <label class="form-label" for="new_password">Enter new password</label>
            <input class="form-input" type="password" id="new_password" name="new_password" placeholder="...">
        </div>
        </div>
        
        <div class="panel-footer">
        <button class='btn'>Change password</button>
        </div>
    </form>
    </div>
    </div>

    </div>
  </div>
</div>
{% endblock %}
