{% extends "base.html" %}
{% block title %}Cities Ordering{% endblock %}
{% block content %}
<div class="container customContainer">
  <div class="columns">
    <div class="column col-3 col-lg-2 col-xs-0"></div>
    <div class="column col-6 col-lg-8 col-xs-12">
      <h4><i class="fas fa-sort"></i> Cities Ordering</h4>
      <ul class="step">
        <li class="step-item">
          <a href="{{ url_for('home') }}" class="tooltip" data-tooltip="Choose from and vacation destination cities">Choose from and to</a>
        </li>
        <li class="step-item active">
          <a class="tooltip"
            data-tooltip="Order the cities in which you want to visit them and add stay period in number of days">Order
            Cities</a>
        </li>
        <li class="step-item">
          <a class="tooltip" data-tooltip="Choose hotels and finalize">Choose Hotels</a>
        </li>
      </ul>
      <blockquote>
        Order the cities in a order you want to visit them and add stay period in number of days
      </blockquote>

      {% if travelObj == None %}
        Looks like you didn't visit this page from home page. Or maybe you passed some wrong value from home page.
        <br>
        Go back to the <a href="{{ url_for('home') }}">home page</a> and then visit this page.
      {% else %}
      <div class="card shadowContainer">
        <div class="card-header">
          <span class="label label-rounded mr-1" id = "src_city">Source City: {{ travelObj["sourceCity"] }}</span>
          <span class="label label-rounded mr-1" id = "dep_date">Departure Date: {{ travelObj["departureDate"] }}</span>
        </div>
        <div class="card-body">
          <table class="table" id="table">
            <thead>
              <tr class="selectableTr">
                <th>City</th>
                <th>Stay Period (in no. of days)</th>
              </tr>
            </thead>
            <tbody>
              {% for ele in travelObj["citiesToVisit"] %}
                <tr class="selectableTr">
                  <td>{{ ele["cityName"] }}</td>
                  <td><input class="form-input input-sm" type="number" placeholder="days" value="1"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-action s-circle" onclick="upNdown('up');"><i
              class="icon icon-arrow-up"></i></button>
          <button class="btn btn-primary btn-action s-circle" onclick="upNdown('down');"><i
              class="icon icon-arrow-down"></i></button>
        </div>
      </div>
      <br>
      <label class="form-checkbox">
        {% if travelObj["roundTrip"] %}
        <input type="checkbox" id="round_trip" name="round_trip" checked>
        {% else %}
        <input type="checkbox" id="round_trip" name="round_trip">
        {% endif %}
        <i class="form-icon"></i> Round Trip
      </label>
      <br>
      <button class="btn btn-primary btn-lg" onclick="sendRequest(0)">Visit Cities in Order Given</button>
      <button class="btn btn-primary btn-lg" onclick="sendRequest(1)">Choose Best Order</button>
      <br>
      {% endif %}



    </div>
    <div class="column col-3 col-lg-2 col-xs-0"></div>
  </div>
</div>

<script>
  let index; // variable to set the selected row index
  function getSelectedRow() {
    let table = document.getElementById("table");
    for (var i = 1; i < table.rows.length; i++) {
      table.rows[i].onclick = function () {
        // clear the selected from the previous selected row
        // the first time index is undefined
        if (typeof index !== "undefined") {
          table.rows[index].classList.toggle("active");
        }
        index = this.rowIndex;
        this.classList.toggle("active");
      };
    }

  }

  getSelectedRow();

  function upNdown(direction) {
    var rows = document.getElementById("table").rows,
      parent = rows[index].parentNode;
    if (direction === "up") {
      if (index > 1) {
        parent.insertBefore(rows[index], rows[index - 1]);
        // when the row go up the index will be equal to index - 1
        index--;
      }
    }

    if (direction === "down") {
      if (index < rows.length - 1) {
        parent.insertBefore(rows[index + 1], rows[index]);
        // when the row go down the index will be equal to index + 1
        index++;
      }
    }
  }



  function sendRequest(chooseBestOrdering) {
    let arr = []
    let rows = document.getElementById("table").rows;
    for (var i = 1; i < table.rows.length; i++) {
      let cityName = rows[i].children[0].innerText
      let stayPeriod = Number(rows[i].children[1].firstElementChild.value)
      arr.push({
        "cityName": cityName,
        "stayPeriod": stayPeriod
      })
    }

    var src_text = document.getElementById("src_city").innerText;
    var src_city = src_text.substring(13);

    var round_trip = document.getElementById("round_trip").checked;
    
    var dep_text = document.getElementById("dep_date").innerText;
    var dep_date = dep_text.substring(16);

    let travelObj = {
      "sourceCity": src_city,
      "departureDate": dep_date,
      "chooseBestOrdering": chooseBestOrdering,
      "roundTrip": round_trip,
      "citiesToVisit": arr
    }

    post("/output_page", {
      "json": JSON.stringify(travelObj)
    });

    // ajax does not redirect
    // $.ajax({
    //     url: '/output_page',
    //     type: 'POST',
    //     data: JSON.stringify(arr),
    //     contentType: 'application/json; charset=utf-8',
    //     dataType: 'json',
    //     async: true,
    //     success: function(msg) {
    //         alert(msg);
    //         print(msg)
    //     }
    // });
  }
</script>

{% endblock %}
