{% extends "base.html" %}
{% block title %}Finalise the travel plan{% endblock %}
{% block content %}
<div class="container customContainer">
    <div class="columns">
        <div class="column col-3 col-lg-2 col-xs-0"></div>
        <div class="column col-6 col-lg-8 col-xs-12">
            <h4><i class="fa fa-bed"></i>Your travel plan</h4>
            <ul class="step">
                <li class="step-item">
                    <a href="{{ url_for('home') }}" class="tooltip"
                        data-tooltip="Choose from and vacation destination cities">Choose from and to</a>
                </li>
                <li class="step-item">
                    <a class="tooltip"
                        data-tooltip="Order the cities in which you want to visit them and add stay period in number of days">Order
                        Cities</a>
                </li>
                <li class="step-item active">
                    <a class="tooltip" data-tooltip="Choose hotels and finalize">Choose Flights & Hotels</a>
                </li>
            </ul>
            <blockquote>
               Here are other options. Select the best that suits you!
            </blockquote>
            <div class="divider"></div>
            {% for entry in entries %}
            {% if entry['is_hotel'] == 1 %}
            <div class="card shadowContainer">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <i class="fas fa-hotel"></i>
                        </div>
                        <div class="tile-content">
                            <div class="text-bold">{{entry['hotel_name']}}</div>
                            <div class='tile-subtitle'>{{entry['hotel_city']}}</div>
                            <div>{{entry['stay_period']}} days stay</div>
                        </div>
                        <div class="tile-action">
                            <button class='btn' id='option-{{entry['option_no']}}'>Select</button>
                            <button class='btn' onClick="preview_hotel({{entry['hotel_id']}})">View details</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% if entry['is_hotel'] == 0 %}
            <div class="card shadowContainer">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="tile tile-centered">
                        <div class="tile-icon">
                            <i class="fas fa-plane"></i>
                        </div>
                        <div class="tile-content">
                            {% for flight in entry['flights'] %}
                            <div class='text-bold'>Carrier: {{flight['carrier']}}</div>
                            <div>{{flight['date']}}</div>
                            <ul class="step">
                                <li class="step-item">
                                    <a href="#" class="tooltip tooltip-right"
                                        data-tooltip="Departure at {{flight['dep_time']}}">{{flight['origin_code']}},
                                        {{flight['origin_city']}}</a>
                                </li>
                                <li class="step-item">
                                    <a href="#" class="tooltip tooltip-left"
                                        data-tooltip="Arrival at {{flight['arr_time']}}">{{flight['dest_code']}},
                                        {{flight['dest_city']}}</a>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        <div class="tile-action">
                            <button class='btn' id='option-{{entry['option_no']}}'>Select</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}
            <button id='final_submit' class='btn btn-primary'>Choose this!</button>
            <br>
        </div>
        <div class="column col-3 col-lg-2 col-xs-0"></div>
    </div>
</div>
<script>
    let travelObj = {{ travelObj|tojson }};

    let current_selection = travelObj.selections[travelObj.entry_num-1];
    document.getElementById('option-'+current_selection.toString()).classList.toggle('btn-primary')
    document.getElementById('option-'+current_selection.toString()).innerHTML='<i class="fas fa-check"></i>Selected'

    for(let i=0;i<travelObj.num_options;++i)
    {
        document.getElementById('option-'+i.toString()).onclick = () => {

            document.getElementById('option-'+current_selection.toString()).classList.toggle('btn-primary')
            document.getElementById('option-'+current_selection.toString()).innerHTML='Select'

            current_selection = i;

            document.getElementById('option-'+current_selection.toString()).classList.toggle('btn-primary')
            document.getElementById('option-'+current_selection.toString()).innerHTML='<i class="fas fa-check"></i>Selected'
        }
    }

    document.getElementById('final_submit').onclick = () => {
        travelObj.selections[travelObj.entry_num-1] = current_selection;
            post("/output_page", {
                'json':JSON.stringify(travelObj),
            });
    }

    function preview_hotel(hotel_id){
        post("/hotel/"+hotel_id.toString(), {
            'json':JSON.stringify(travelObj),
        });
    }

</script>
{% endblock %}